<div *ngIf='shared.isUserLoggedIn' class="container">


  


<form class="form-horizontal">
  <h3>Register New User</h3>
    <fieldset>
    
    <!-- Form Name -->

    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">User Name</label>  
      <div class="col-md-4">
      <input [(ngModel)]='model.userName' name="username" type="text" placeholder="enter your username" class="form-control input-md">
        
      </div>
    </div>
    
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">email</label>  
      <div class="col-md-4">
      <input [(ngModel)]='model.email' name="email" type="text" placeholder="enter your email" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Password</label>
      <div class="col-md-4">
        <input [(ngModel)]='model.password' name="passwordinput" type="password" placeholder="enter your password" class="form-control input-md">
        <span class="help-block">help</span>
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="repasswordinput"></label>
      <div class="col-md-4">
        <input [(ngModel)]='retypePassword' name="repasswordinput" type="password" placeholder="re-enter your password" class="form-control input-md">

      </div>
      <div class="alert alert-danger" *ngIf="model.password && retypePassword && model.password !=retypePassword">passwords do not match</div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="firstName">First Name</label>  
      <div class="col-md-4">
      <input [(ngModel)]='model.firstName' name="firstName" type="text" placeholder="enter your first name" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="lastName">Last Name</label>  
      <div class="col-md-4">
      <input [(ngModel)]='model.lastName' name="lastName" type="text" placeholder="enter last name" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="phone">Phone Number</label>  
      <div class="col-md-4">
      <input [(ngModel)]='model.phoneNumber' name="phone" type="text" placeholder="enter your phone number" class="form-control input-md">
        
      </div>
    </div>
    
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="address">Address</label>  
      <div class="col-md-4">
      <input [(ngModel)]='model.address' name="address" type="text" placeholder="enter your address" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">

      <div class="form-group">
        <button (click)='save()' [disabled]="!model.userName || !model.email || !model.firstName || !model.password || model.password != retypePassword" id="singlebutton" name="singlebutton" class="btn btn-primary">Save User</button>
      
        <div class="alert alert-success" *ngIf="isAlertVisible">
          the user is registered 
        </div>
      </div>
    </div>
    
    </fieldset>
    </form>
  </div>