h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #0062cc;
}

label{
    text-align: center;
    color: #4c4d55;
    font-weight: 600;
}

form{
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

}

input{
    width: 20rem;
}

.form-group{
    display: flex;
    justify-content: center;
    width: 25rem;
}

fieldset{
    display: flex;
    width: 100%;
    justify-content: left;
}