h3{
    text-align: center;
    margin-top: 30px;
    color: #0062cc;

}

table{
    margin-bottom: 0;


}

.count{
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 5px;
    text-align: right;
    
}